/* Mon fichier CSS */
/* Font -face */
@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Medium.woff2') format('woff2'),
        url('../fonts/') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/* On sélectionne toutes les balises sémantiques du même type */
/* en l'occurence, le H1 de la page + tous les B seront rouges grâce à la virgule */
h1, b {
    color:red;
}

p {
    color:violet;
}
/* On sélectionne TOUS les éléments qui ont la classe bienvenue */
.bienvenue {
    color:blue;
    font-family: "LEMON MILK" , serif;
}
/* on sélectionne l'unique élément avec l'ID construction */
#construction {
    color:coral;
    font-weight: normal; 
}
/*  on modifie la taille de notre image en indiquant soit la largeur (width) soit la hauteur (height) */
#logo {
    width:200px ;
}

/* On va créer notre premier helper ! */

/* Si je sais que je vais réutiliser plusieurs fois la même propriété sur plusieurs éléments, alors je crée une classe pour écrire moins de code ! */

/* Petit point sur les conventions de nommage :
    textCenter : Camel case
    text-center : Kebab case
    text_center : Snake case
    TEXT_CENTER : Upper case

    Il en existe d'autres, mais moins utilisés/
*/

/* HELPERS */
.text-center {
    text-align: center;
}
.text-right {
    text-align:right;
}

.border-left {
    border-left: 1px solid black;
}



.bg-blue {
    background:blue;
}

.bg-red {
    background:red;
}

.bg-green {
    background:green;
}

.circle {
    border-radius: 50%;
}

.opacity-5 {
    opacity: 0.5;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.line {
    text-decoration: line-through;
}

.top-line {
    text-decoration: overline;    
}

/* FIN HELPERS */

.big-font {
    font-size:25.5px;
}

/* Continuons avec les sélecteurs avancés */

/* le sélecteur universel ! */

* {
    /* Je sélectionne tous les élements de la page */
}

/* Je sélectionne toutes les balises strong dans le parent qui a la classe container */

.container strong {
    color:aquamarine;
}

/* Je sélectionne toutes les balises span dans le parent qui a la classe container */

.container span {
    text-decoration: underline;
}

/* Je sélectionne la première balise <p> qui suit <h1> */

h1 + p {
    color:green;
    font-weight: bold;
    text-decoration: underline;
}

/* Je sélectionne une balise qui possède un attribut */

p[title] {
    color:cornflowerblue;
}

/* Pareil, mais en ciblant sa valeur, son contenu */

p[title="Moi aussi !"] {
    color:darkslateblue;
}

/* LES TAILLES */

/*  On a les valeurs absolues exprimées en pixel, centimètres et en millimètres. On ne les utilise que si c'est strictement nécessaire. */

/* On a les valeurs relatives exprimées en % en em, rem, vw et vh
(on a aussi xx-small, x-small, small, medium, large, x-large et xx-large mais nous n'avons que 7 tailles de dispo)

Une des valeurs les plus utilisées est em

Si font-size:1em; alors le texte a une taille normale
Pour augmenter sa taille de 30% on passe 1.3em à font-size
Pareil pour réduire, 0.7em;

/!\ On écrit les décimales avec un point et non une virgule !

la valeur s'exprime toujours en fonction de son parent !
si la taille de police du parent est de 1.5em; et que mon enfant a une taille de police de 1em; alors il prendra les caractéristiques du parent.

A l'inverse, si l'on utilise rem; alors la valeur est calculée par rapport à la racine (root)
*/

.diff-em-rem {
    font-size:2.5em;
}

.diff-em-rem ul:first-of-type li:first-of-type {
    font-size:0.5em; 
}

.diff-em-rem ul:first-of-type li:nth-child(2) {
    font-size: 1em;
}

.diff-em-rem ul:first-of-type li:last-of-type {
    font-size:1.5em;
}

.diff-em-rem ul:last-of-type li:first-of-type {
    font-size:0.5rem; 
}

.diff-em-rem ul:last-of-type li:nth-child(2) {
    font-size: 1rem;
}

.diff-em-rem ul:last-of-type li:last-of-type {
    font-size:1.5rem;
}


.arial-font {
    /* Pour changer les polices */
    font-family: 'Freehand', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;

}

/* Tailles en viewport */

.viewport-1 {
    width: 20vw;
    height:20vh;
}

.viewport-2 {
    width:50vw;
    height:50vh;
}

.border-thibaut {
    border : 1px solid black;
    width:25%;
}


.color-example {
    width:200px;
    height:200px;
    background: #6060A8;
}

.color-example-2 {
    width:200px;
    height:200px;
    background: rgb(141, 106, 41);
}

.color-example-3 {
    width:200px;
    height:200px;
    background: rgb(141, 106, 41, 0.5);
}

/* IMages de fond */

.bg-img {
    height:300px;
    background-image: url("../../../Bases\ HTML/ressources/miskine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Multi classes */

.multi-class div {
    height: 40px;
    width: 40px;
    margin:2em;
}

/*  les bordures */
/* il existe plusieurs types de bordures
none : pas de bordure
solid : trait simple
dotted : pointillés
dashed : tirets 
double : bordure double
groove : relief
ridge : autre relief
inset : 3d "enfoncé"
outset : 3d "surélevé"
*/
.border {
    /* border: 2px solid black; */
    border-top : 2px solid black;
    border-bottom:2px solid black;
    /* border : 2px 0 2px 0 solid black; 
        Ou bien : 
        border : 2px 0 solid black;
        la 1ère valeur concerne le top et bottom
        la 2nde, left et right
    */

    /* pour border-radius, on peut appliquer des arrondis différents : border-radius: top-left top-right bottom-right bottom-left */
    border-radius: 20px 10px 0 5px;
    /* 
    border-radius: 20px 10px 0 5px; 
    équivaut à :
    border-top-left-radius:20px;
    border-top-right-radius:10px;
    border-bottom-left-radius:5px;
    */
}

/* les ombres */

.shadow {
    /* la dernière valeur sert à adoucir le ton */
    box-shadow: 5px 5px 10px black;
    /* on peut aussi passer de l'ombre sur le texte ! */
    text-shadow: 2px 2px 4px black;
}
/* on rajoute une ombre à l'intérieur du bloc */
.shadow-inset {
    box-shadow: 5px 5px 10px black inset;
}


/*  LES APPARENCES DYNAMIQUES */

.link-wf3 a {
    /* on supprime l'underline par défaut */
    text-decoration: none;
    color:crimson;
}

/* pour le :hover */

.link-wf3 a:hover {   
    color:white;
    background:crimson;
}
/*  survol de la souris */
.par-hover:hover {
    background:black;
    color:orange;
}

/*  au clic */

.link-wf3-active a:active {
    font-size: 40px;
    background:darkmagenta;
    color:yellow;
}

.link-wf3-focus a:focus {
    background:seagreen;
    color:white;
}

.link-wf3-visited a:visited {
    color:red;
}
