/* Mon fichier CSS */
/* Font -face */
@font-face {
    font-family: 'LEMON MILK';
    src: url('../fonts/LEMONMILK-Medium.woff2') format('woff2'),
        url('../fonts/') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



/* On sélectionne toutes les balises sémantiques du même type */
/* en l'occurence, le H1 de la page + tous les B seront rouges grâce à la virgule */
h1, b {
    color:red;
}

p {
    color:violet;
}
/* On sélectionne TOUS les éléments qui ont la classe bienvenue */
.bienvenue {
    color:blue;
    font-family: "LEMON MILK" , serif;
}
/* on sélectionne l'unique élément avec l'ID construction */
#construction {
    color:coral;
    font-weight: normal; 
}
/*  on modifie la taille de notre image en indiquant soit la largeur (width) soit la hauteur (height) */
#logo {
    width:200px ;
}

/* On va créer notre premier helper ! */

/* Si je sais que je vais réutiliser plusieurs fois la même propriété sur plusieurs éléments, alors je crée une classe pour écrire moins de code ! */

/* Petit point sur les conventions de nommage :
    textCenter : Camel case
    text-center : Kebab case
    text_center : Snake case
    TEXT_CENTER : Upper case

    Il en existe d'autres, mais moins utilisés/
*/

/* HELPERS */
.text-center {
    text-align: center;
}

.bg-blue {
    background:blue;
}

.bg-red {
    background:red;
}

/* FIN HELPERS */

.big-font {
    font-size:25.5px;
}

/* Continuons avec les sélecteurs avancés */

/* le sélecteur universel ! */

* {
    /* Je sélectionne tous les élements de la page */
}

/* Je sélectionne toutes les balises strong dans le parent qui a la classe container */

.container strong {
    color:aquamarine;
}

/* Je sélectionne toutes les balises span dans le parent qui a la classe container */

.container span {
    text-decoration: underline;
}

/* Je sélectionne la première balise <p> qui suit <h1> */

h1 + p {
    color:red;
    font-weight: bold;
    text-decoration: underline;
}

/* Je sélectionne une balise qui possède un attribut */

p[title] {
    color:cornflowerblue;
}

/* Pareil, mais en ciblant sa valeur, son contenu */

p[title="Moi aussi !"] {
    color:darkslateblue;
}

/* LES TAILLES */

/*  On a les valeurs absolues exprimées en pixel, centimètres et en millimètres. On ne les utilise que si c'est strictement nécessaire. */

/* On a les valeurs relatives exprimées en % en em, rem, vw et vh
(on a aussi xx-small, x-small, small, medium, large, x-large et xx-large mais nous n'avons que 7 tailles de dispo)

Une des valeurs les plus utilisées est em

Si font-size:1em; alors le texte a une taille normale
Pour augmenter sa taille de 30% on passe 1.3em à font-size
Pareil pour réduire, 0.7em;

/!\ On écrit les décimales avec un point et non une virgule !

la valeur s'exprime toujours en fonction de son parent !
si la taille de police du parent est de 1.5em; et que mon enfant a une taille de police de 1em; alors il prendra les caractéristiques du parent.

A l'inverse, si l'on utilise rem; alors la valeur est calculée par rapport à la racine (root)
*/

.diff-em-rem {
    font-size:2.5em;
}

.diff-em-rem ul:first-of-type li:first-of-type {
    font-size:0.5em; 
}

.diff-em-rem ul:first-of-type li:nth-child(2) {
    font-size: 1em;
}

.diff-em-rem ul:first-of-type li:last-of-type {
    font-size:1.5em;
}

.diff-em-rem ul:last-of-type li:first-of-type {
    font-size:0.5rem; 
}

.diff-em-rem ul:last-of-type li:nth-child(2) {
    font-size: 1rem;
}

.diff-em-rem ul:last-of-type li:last-of-type {
    font-size:1.5rem;
}


.arial-font {
    /* Pour changer les polices */
    font-family: 'Freehand', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;

}

/* Tailles en viewport */

.viewport-1 {
    width: 20vw;
    height:20vh;
}

.viewport-2 {
    width:50vw;
    height:50vh;
}